/* SPDX-License-Identifier: MIT */
/* Copyright Rob Marissen */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
 }

.input-select {
  position: relative;
  left: 8%;
  width: 92%;
}

.input-label {
  width: 40%;
  padding: 10px;
}

.input-label2 {
  width: 40%;
  padding: 10px;
  padding-bottom: 0px;
}
.input-label3 {
  width: 40%;
  padding: 10px;
  padding-top: 0px;
}

.input-value {
    width: 40%;
}

/* Move icons vertically so that they match text labels */
.icon-valign {
  line-height: 24px;
  vertical-align: top;
}

.warn {
  color: red;
  font-weight: bold;
}

