.blocktitle {
  font-size: 1.17em;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  position: absolute;
  top: -13px;
  left: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.input-label {
  width: 40%;
  padding: 10px;
}
.input-label2 {
  width: 40%;
  padding: 10px;
  padding-bottom: 0px;
}
.input-label3 {
  width: 40%;
  padding: 10px;
  padding-top: 0px;
}
.param-section {
  /* width: 95%; */
   position: relative; /* This causes child elements with "absolute" position to be placed relative to the param-section, not page */
   border: 3px solid #c0c0c0;
   padding: 10px;
   margin: 20px;
   border-radius: 10px;
 }

 /* Move icons vertically so that they match text labels */
 .icon-valign {
  line-height: 18px;
  vertical-align: top;
}

#submit:disabled {
  background-color: #cccccc;
  color: #aaaaaa;
}

.info-panel {
  background-color: lightgrey;
  height: 20%;
  width: 100%;
  overflow: auto;
  position: absolute;
  bottom: 0;
}

#tree-container {
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  padding: 20px;
}

#t0 {
  overflow: hidden; 
}

#tt {
  overflow: hidden;
  height: 50px;
  width: 100%;
}

#t2 {
  /* background-color: rgb(227, 255, 201); */
width: 100%;
padding-left: 20px;
overflow: auto;
position: absolute;
top: 50px;
height:calc(80% - 50px);
}

#t3 {
  height:800px;
}

.warn {
  color: red;
}

#pr {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

#progress {
  width: 100%;
}

#versioninfo {
  color: rgb(129, 129, 129);
  position: absolute;
  top: 5px;
  right: 30px;
}