.input-label {
  width: 40%;
  padding: 10px;
}
.input-label2 {
  width: 40%;
  padding: 10px;
  padding-bottom: 0px;
}
.input-label3 {
  width: 40%;
  padding: 10px;
  padding-top: 0px;
}
.param-section {
   width: 95%;
   border: 3px solid #c0c0c0;
   padding: 10px;
   margin: 20px;
   border-radius: 10px;
 }
