/* SPDX-License-Identifier: MIT */
/* Copyright Rob Marissen */

.tvert-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tvert-progress {
    flex: 0 1 auto;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.tvert-main {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

.tvert-activity  {
    flex: 0 1 auto;
    width: 100%;
    background-color: lightgrey;
    border-top: 1px solid rgb(0, 0, 0);
}

.tvert-details {
    flex: 0 1 auto;
    width: 100%;
    background-color: lightgrey;
    border-top: 1px solid rgb(128, 128, 128);
    visibility: hidden;
}

.mainhor-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#main-chart {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

.main-control-item  {
    flex: 0 0 200px;
}

.control-container {
    display: flex;
    flex-direction: column;
    padding: 2px;
    border: 1px solid black;
    margin: 2px;
    background-color: rgb(240, 240, 240);
    height: 100%;    
}

.control-item {
  flex: 0 0 50px;
}

.act-hor-container  {
    display: flex;
    flex-direction: row;
    position: relative;
}

.act-text-item {
    flex: 1 1;
}

.act-details-button-item {
    flex: 0 1 auto;
}

#progress {
    width: 100%;
}

.info-activity {
    font-weight: bolder;
    overflow: hidden;
}

.info-control {
    width: 120px;
}

.info-details {
    overflow: auto;
    height: 1px;
}

.small-input {
    font-size: 80%;
}